[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
youtube_dl = "*"
requests = "*"
certifi = "*"
yt-dlp = "*"

[dev-packages]
ruff = "*"

[requires]
python_version = "3.13"
